/************************** Home Banner css start **************************/
.home-banner {
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 0;
}

.home-banner::before {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
}

.home-banner .content-box {
    position: relative;
    z-index: 1111;
}

.home-banner .content-box .text-box {
    margin-top: 75px;
}

.home-banner .content-box .text-box h3 {
    font-size: 16px;
    color: #000000;
    padding: 6px 10px;
    background-color: #40A2D8;
    width: fit-content;
    border-radius: 7px;
    font-weight: 600;
    margin-bottom: 7px;
}

.home-banner .content-box .text-box h1 {
    font-size: 60px;
    color: #fff;
    line-height: 65px;
    padding-bottom: 10px;
    font-weight: 600;
}

.home-banner .content-box .text-box span {
    color: #40A2D8;
}

.home-banner .content-box .text-box .para {
    color: #fff;
    line-height: 23px;
    font-size: 15px;
}

.home-banner .content-box .text-box .launch-dao-button {
    background: #ffffff;
    margin-top: 10px;
    position: relative;
    border: 2px solid #40A2D8;
    padding: 10px 20px;
    color: #40A2D8 !important;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 10px;
    cursor: pointer;
}

.home-banner .content-box .text-box .launch-dao-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: -1;
    transition: filter 0.3s; /* Add a transition for a smooth effect */
  }
.home-banner .content-box .text-box .launch-dao-button:hover {
    background-color: #f6f9fc;
    border: 2px solid #000000;
    color: #000000 !important;
    border-radius: 10px;
  }

.home-banner .content-box .text-box .launch-dao-button .img {
    height: 20px;
    width: auto; 
    position: absolute; 
    top: 50%; 
    right: 17px; 
    transform: translateY(-50%);
}

.home-banner .content-box .text-box .dao-button {
    background: transparent;
    margin-top: 10px;
    position: relative;
    margin-left: 10px;
    border: 2px solid #40A2D8;
    padding: 10px 20px;
    color: #40A2D8 !important;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 10px;
    cursor: pointer;
}

.home-banner .content-box .text-box .dao-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: transparent;
    z-index: -1;
    transition: filter 0.3s;
  }
.home-banner .content-box .text-box .dao-button:hover {
    background-color: transparent;
    border: 2px solid #d3d3d3;
    color: #d3d3d3 !important;
    border-radius: 10px;
  }

/************************** Home Banner css end **************************/