/************************** Inner Header css start **************************/
.inner-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
    transition: 0.5s;
    background: transparent;
}

.inner-header.scroll {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(36px);
}

.inner-header.scroll .upper-list {
    margin-top: -36px;
}

.inner-header .upper-list {
    background: #40A2D8;
    padding: 6px 0;
    position: relative;
    transition: 0.5s;
}


.inner-header .upper-list .align-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-header .upper-list .box-1 .info-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inner-header .upper-list .box-1 .info-list li {
    padding: 0 10px;
}

.inner-header .upper-list .box-1 .info-list li span {
    color: #000;
    font-size: 16px;
    padding-right: 7px;
}

.inner-header .upper-list .box-1 .info-list li a {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.inner-header .upper-list .box-2 .social-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inner-header .upper-list .box-2 .social-list li span {
    color: #000;
    font-size: 16px;
    padding-right: 7px;
}

.inner-header .upper-list .box-2 .social-list li {
    padding: 0 12px;
}

.inner-header .upper-list .box-2 .social-list li a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}


.inner-header.scroll .navbar {
    margin-top: 0px;
    box-shadow: unset;
}

.inner-header .navbar {
    background: transparent;
    padding: 25px 80px;
    border-radius: 30px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-header .createdao-btn {
    background: lightblue;
    border: 2px solid #40A2D8;
    padding: 12px 18px;
    color: #000 !important;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 10px;
}

.inner-header .createdao-btn:hover {
    background-color: #40A2D8;
    border: 2px solid #000000;
    color: #000000 !important;
}

.inner-header .create {
    background: lightblue;
    border: 2px solid #40A2D8;
    padding: 4px 18px;
    color: #000 !important;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 10px;
}

.inner-header .create-arrow {
    background: skyblue;
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 10px !important;
    cursor: pointer;
}

.inner-header .create-arrow:hover {
    background-color: #40A2D8;
    border: 2px solid #40A2D8;
}

/****************** Media Query ***************************/
@media screen and (max-width: 480px) {
    .inner-header .createdao-btn{
        padding: 10px 10px !important; 
    }

    .inner-header .create{
        padding: 4px 4px !important; 
        margin-left: -12px;
    }

    .inner-header .create-arrow {
        background: skyblue;
        border: 2px solid skyblue;
        border-radius: 6px;
        width: 35px;
    }
}

@media (max-width: 768px) {
    .inner-header .navbar {
        padding: 15px 20px;
    }

    .inner-header .create {
        padding: 5px 5px;
        margin-top: 10px;
    }

    .inner-header .createdao-btn {
        padding: 12px 16px;
        margin-top: 10px;
    }
}




/* popup */
.inner-header .popup-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 430px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #f5f7fa;
    border-radius: 15px;
    display: flex;
    backdrop-filter: blur(24px);

}

.inner-header .popup {
    position: absolute;
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.inner-header .popup p {
    top: 8px;
    right: 25px;
    font-size: 16px;
    color: #323f4b;
}

.inner-header .close {
    top: 8px;
    right: 25px;
    float: right !important;
    cursor: pointer;
}

.inner-header .close:hover {
    color: #40A2D8;
}

.inner-header .popup-bottom {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inner-header .popup-bottom .popup-img {
    float: left;
    margin-top: 60px;
    transform: translateX(38%);
}

.inner-header .popup-bottom .title {
    font-size: 24px;
    color: #323f4b;
    margin-left: 120px;
    margin-top: 10px;
}

.inner-header .popup-bottom .description {
    font-size: 16px;
    margin-top: 12px;
    transform: translateX(22%);
    color: #616e7c;
}

.inner-header .popup-bottom .connect-wallet-btn {
    background: #40A2D8;
    border: 2px solid #40A2D8;
    color: #ffffff !important;
    padding: 11px;
    width: 120%;
    text-align: center;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 12px;
    font-size: 0.98rem;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 120px;
}

.inner-header .popup-bottom .connect-wallet-btn:hover {
    background-color: #40A2D8;
    filter: blur(0.3px);
    border: 2px solid #000000;
    color: #000000 !important;
}




/* error popup */
.inner-header .error-popup-overlay {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 390px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #f5f7fa;
    border-radius: 15px;
    display: flex;
    backdrop-filter: blur(36px);


}

.inner-header .error-popup {
    position: absolute;
    width: 100%;
    background: transparent;
}


.inner-header .error-close {
    top: 8px;
    right: 25px;
    float: right !important;
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inner-header .error-close:hover {
    color: #40A2D8;
}

.inner-header .error-popup-bottom .error-popup-img {
    float: left;
    margin-top: 60px;
    transform: translateX(165px);
}


.inner-header .error-popup-bottom .error-title {
    font-size: 25px;
    line-height: 1.2;
    color: #323f4b;
    margin-top: 200px;
    margin-left: 108px;
    font-weight: 470;
}


.inner-header .error-popup-bottom .error-description{
font-size: 16px;
font-weight: 350;
margin: 10px 0px 0px;
color: #616e7c;
text-align: center !important;
}
 
.inner-header .error-popup-bottom .close-error-btn{
background: #40A2D8;
border: 2px solid #40A2D8;
color: #ffffff !important;
padding: 12px 16px;
text-align: center;
transition: 0.5s;
box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
border-radius: 12px;
font-size: 0.98rem;
font-weight: 500;
margin-top: 25px;
margin-left: 90px;
}

.inner-header .error-popup-bottom .close-error-btn:hover{
background-color: #40A2D8;
filter: blur(0.3px);
border: 2px solid #000000;
color: #000000 !important;
} 


.inner-header .error-popup-bottom .close-error-btn-stay{
    background: #ffffff;
    border: 2px solid #f5f7fa;
    color: #52606d;
    padding: 12px 16px;
    text-align: center;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 12px;
    font-size: 0.98rem;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 20px;
    }

.inner-header .error-popup-bottom .close-error-btn-stay:hover{
        background-color: #e4e7eb;
        filter: blur(0.3px);
        border: 2px solid #e4e7eb;
        box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
        color: #000000 !important;
        } 
/************************** Inner Header css end **************************/



/*************************** CStep1 css start *****************************/

.main-container {
    background: rgba(255, 255, 255, 0.95); 
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px; 
    backdrop-filter: blur(48px);
    padding: 8%;
    border-radius: 15px; 
    margin: 260px auto;
    width: 100%;
    max-width: 1250px;
    position: relative;

}

.main-title{
    position: absolute;
    font-size: 16px;
    color: #40A2D8;
    top: 22%;
    left: 4%;
}

.main-side-text{
    position: absolute;
    color: #7b8794;
    top: 22%;
    margin-right: 76px !important;
    right: 0;
    font-weight: 350;
}

.main-heading {
    font-size: 39px; 
    color: #323f4b;
    position: absolute;
    top: 50%;
    left: 4%;
}

.main-description {
    top: 66%; 
    left: 4%; 
    position: absolute;
    margin: 8px 0px 0px;
    font-size: 18px; 
    font-weight: 390;
    color: #52606D; 
    line-height: 1.5;
    margin-right: 45px;
}



@keyframes progress {
    from {
      width: 0%;
    }
  }
  
  .progress-bar {
    position: absolute;
    top: 34%;
    left: 4%; 
    bottom: 5%;
    width: 90%;
    height: 20px;
    background-color: #E4E7EB;
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid #E4E7EB ;
   
  }
  
  .progress-bar-inner {
    width: 25%;
    height: 100%;
    background-color: #40A2D8;
    animation: progress 10s linear forwards;
  }



/* blockchain inner */
  .blockchain-inner{
    margin: 220px auto;
    width: 100%;
    max-width: 1000px;
    position: relative;
    padding: 0px 40px;
    border-radius: 15px;
    transform: translateY(-180px);
  }

  .blockchain-container{
    position: absolute;
    top: 5%;
    left: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #f5f7fa;
    border-radius: 10px;
    padding: 12px 16px;
    width: auto;
    
  }

  .blockchain-button{
    background-color: #40a2d8;
    padding: 10px 12px;
    color: #ffffff;
    border: 1px solid #40a2d8;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 5px;
    transition: background-color 0.3s ease;
}

.blockchain-button:hover {
    background-color: #357ca6;
}


/* doneblockchain */
.names-container{ 
    position: relative;
}
.doneblock-container{
    width: 100%;
    max-width: 800px;
    position: relative;
    padding: 2.5%;
    border-radius: 15px;
    transform: translate(564px,-300px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin-bottom: 30px;
}

.doneblock-image{
    position: absolute;
    width: 50px;
    height: auto;
    top: 20%;
    left: 5%;
}

.doneblock-title{
    position: absolute;
    top: 26%;
    left: 12%;
    font-size: 16px;
    color: #52606D;
    font-weight: 550;
}

.doneblock-para{
    position: absolute;
    top: 45%;
    left: 12%;
    font-size: 12.4px;
    color: #616e7c;
    font-weight:350;
} 




.bottom-buttons .bottom-backbtn{
    padding: 12px 16px;
    background-color: #ffffff;
    position: absolute;
    left: 10%;
    bottom: 10%;
    border-radius: 12px;
}









  /****************** Media Query ***************************/

  @media screen and (max-width: 768px) {
    .names-container {
        padding: 5vw; 
    }
  }



@media screen and (max-width: 768px) {
    .main-container {
        padding: 5vw; 
        box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px; 
        backdrop-filter: blur(48px);
        border-radius: 15px;
    }

    .main-title{
    position:static;
    margin: 0;
    padding: 0;
    text-align: left;
    }

    .main-side-text{
        margin-top: -8px;
        transform: translateX(10px);
        padding: 0;

        }

    .progress-bar{
        position:static;
        margin: 10px 0;
        padding: 0;
        margin-bottom: 10px;
        width: 100%;
    }  

    .main-heading,
    .main-description{
        position: static; 
        margin: 0; 
        padding: 0; 
        text-align: left;
    }
    
    .main-heading {
        font-size: 5vw; 
        margin-top: 8px !important;
    }

    .main-description {
        font-size: 3vw; 
    }}


    @media screen and (max-width: 1024px) {
        .main-container {
            padding: 12vw; 
            box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px; 
            backdrop-filter: blur(48px);
            border-radius: 15px;
            width: 100%;
            max-width: 1250px;
        }
        .main-description {
            margin-top: 10px;

        }
    }

    @media screen and (max-width: 1280px) {
        .main-container {
            padding: 12vw; }

        .main-description {
            margin-top: 15px;

        }

    }
/**************************** CStep1 css end **********************************/