/************************** Inner Header css start **************************/
.inner-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999; 
    transition: 0.5s;
    background: transparent;
}

.inner-header.scroll {
    background: rgba(255, 255, 255, 0.9); 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(36px); 
}

.inner-header.scroll .upper-list {
    margin-top: -36px;
}

.inner-header .upper-list {
    background: #40A2D8;
    padding: 6px 0;
    position: relative;
    transition: 0.5s;
}


.inner-header .upper-list .align-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inner-header .upper-list .box-1 .info-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .inner-header .upper-list .box-1 .info-list li {
            padding: 0 10px;
        }

        .inner-header .upper-list .box-1 .info-list li span {
                color: #000;
                font-size: 16px;
                padding-right: 7px;
            }

            .inner-header .upper-list .box-1 .info-list li a {
                color: #000;
                font-size: 15px;
                font-weight: 400;
                text-decoration: none;
            }

            .inner-header .upper-list .box-2 .social-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .inner-header .upper-list .box-2 .social-list li span {
            color: #000;
            font-size: 16px;
            padding-right: 7px;
        }

        .inner-header .upper-list .box-2 .social-list li {
            padding: 0 12px;
        }

        .inner-header .upper-list .box-2 .social-list li a {
                color: #000;
                font-size: 16px;
                font-weight: 400;
                text-decoration: none;
            }

            
.inner-header.scroll .navbar {
    margin-top: 0px;
    box-shadow: unset;
}

.inner-header .navbar {
    background: transparent; 
    padding: 25px 80px;
    border-radius: 30px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.inner-header .createdao-btn {
    background: lightblue;
    border: 2px solid #40A2D8;
    padding: 12px 18px;
    color: #000 !important;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 10px;
}

.inner-header .createdao-btn:hover {
    background-color: #40A2D8;
    border: 2px solid #000000;
    color: #000000 !important;
}

.inner-header .create {
    background: lightblue;
    border: 2px solid #40A2D8;
    padding: 4px 18px;
    color: #000 !important;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 10px;
}

.inner-header .create-arrow {
    background: skyblue;
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 10px !important;
}

.inner-header .create-arrow:hover {
    background-color: #40A2D8;
    border: 2px solid #40A2D8;
}

/****************** Media Query ***************************/
@media screen and (max-width: 480px) {
    .inner-header .createdao-btn{
        padding: 10px 10px !important; 
    }

    .inner-header .create{
        padding: 4px 4px !important; 
        margin-left: -12px;
    }

    .inner-header .create-arrow {
        background: skyblue;
        border: 2px solid skyblue;
        border-radius: 6px;
        width: 35px;
    }
}

@media (max-width: 768px) {
    .inner-header .navbar {
        padding: 15px 20px; 
    }
    
    .inner-header .create{
        padding: 5px 5px;
        margin-top: 10px;
    }

    .inner-header .createdao-btn{
        padding: 12px 16px;
        margin-top: 10px;
    }
}













/* popup */
.inner-header .popup-overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 430px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    background-color: #f5f7fa;
    border-radius: 15px; 
    display: flex;
    backdrop-filter: blur(24px);

}

.inner-header .popup {
position: absolute;
border-radius: 15px; 
padding: 30px;
width: 100%;
background: #ffffff;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.inner-header .popup p{
top: 8px;
right: 25px; 
font-size: 16px;
color: #323f4b;
}
.inner-header .close { 
top: 8px;
right: 25px; 
float: right !important;
cursor: pointer;
}

.inner-header .close:hover{
color: #40A2D8;
}

.inner-header .popup-bottom {
display: flex;
position: relative;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
}

.inner-header .popup-bottom .popup-img {
float: left; 
margin-top: 60px;
transform: translateX(38%);
}

.inner-header .popup-bottom .title {
font-size: 24px;
color: #323f4b;
margin-left: 120px;
margin-top: 10px;
}

.inner-header .popup-bottom .description{
font-size: 16px;
margin-top: 12px;
transform: translateX(22%);
color: #616e7c;
}

.inner-header .popup-bottom .connect-wallet-btn{
background: #40A2D8;
border: 2px solid #40A2D8;
color: #ffffff !important;
padding: 11px;
width: 120%;
text-align: center;
transition: 0.5s;
box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
border-radius: 12px;
font-size: 0.98rem;
font-weight: 500;
margin-top: 20px;
margin-left: 120px;
}

.inner-header .popup-bottom .connect-wallet-btn:hover{
background-color: #40A2D8;
filter: blur(0.3px);
border: 2px solid #000000;
color: #000000 !important;
}





/************************** Inner Header css end **************************/










/* **************************** Inner Create css start ************************** */
/* .create-inner{
    background-color: #F5F7FA;
} */
.horizontal-container {
    background: rgba(255, 255, 255, 0.95); 
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px; 
    backdrop-filter: blur(48px);
    padding: 5%;
    border-radius: 15px; 
    margin: 230px auto;
    width: 90%;
    max-width: 1250px;
    position: relative;
}

.container-heading {
    font-size: 35px; 
    color: #323f4b;
    position: absolute;
    top: 28%;
    left: 4%;
}

.container-description {
    top: 53%; 
    left: 4%; 
    position: absolute;
    margin: 16px 0px 0px;
    font-size: 18px; 
    font-weight: 350;
    color: #52606D; 
}

.container-button img {
    margin-left: 0.5vw; 
}

.container-button {
    position: absolute;
    top: 45%;
    right: 5%;
    padding: 12px 10px;
    background-color: #40A2D8;
    color: #fff;
    border: none;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container-button:hover {
    background-color: #5fb6f3;
}



/* slider */
.slider-container {
    margin-top: -310px !important; 
    padding: 160px 0;
    max-width: 1250px;
    width: 90%; 
    margin: 0 auto; 
}

.slider {
    display: flex;
}

.slide {
    min-width: 290px;
    height: 290px; 
    flex: 0 0 auto; 
    padding: 20px; 
    background-color: #ffffff; 
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    backdrop-filter: blur(48px);
    margin-right: 28px; 
    border-radius: 15px;
}

.img-container{
    min-width: 250px;
    height: 180px;
    padding: 15px;
    background-color: #f5f7fa;
    border-radius: 15px;
    text-align: center;
    
}

.slide-img{
    margin-top: 18px;

}


.slide-title{
    color: #616E7C;
    font-size: 15px;
    font-weight: 380;
    margin-top: 15px;
    margin-left: 5px;
}

.slide-tag{
    color: #323f4b;
    margin: 6px 5px 5px;
    font-size: 16px;
    font-weight: 600;
}


/****************** Media Query ***************************/

@media screen and (max-width: 768px) {
    .horizontal-container {
        padding: 5vw; 
    }

    .container-heading,
    .container-description,
    .container-button {
        position: static; 
        margin: 0; 
        padding: 0; 
        text-align: center;
    }
    
    .container-heading {
        font-size: 5vw; 
    }

    .container-description {
        font-size: 3vw; 
    }

    .container-button img {
        margin-left: 1vw; 
    }

    .container-button {
        padding: 2vw 1.8vw; 
        text-align: center;
        border-radius: 2.5vw;
        margin-top: 3vw; 
        margin-left: 24vw;
        font-size: 14px;
    }
    

    .slider-container {
        padding: 100px 0;
        margin-left: 40px;
        margin-right: 20px;
    }
    
    .slider {
        flex-wrap: wrap; 
        text-align: center;
    }
    
    .slide {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}


/* **************************** Inner Create css end ************************** */