/************************** Services css start **************************/
.sec-services {
    padding: 0px 0 60px;
}

    .sec-services .sec-title {
        text-align: center;
        padding-bottom: 40px;
    }

        .sec-services .sec-title h2 {
            font-size: 36px;
            font-weight: 600;
            color: #000;
            padding: 10px 0 5px;
            position: relative;
            width: fit-content;
            margin: 0 auto;
        }

    .sec-services .service-box {
        position: relative;
        margin-bottom: 15px; 
        
    }

    .sec-services .img-box .img-fluid {
        height: 400px;
        width: 100%;    
    }
        
        .sec-services .service-box::before {
            content: '';
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.4;
        }

        .sec-services .service-box .text-box {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1111;
            padding: 30px;
        }

            .sec-services .service-box .text-box h4 {
                color: #fff;
                font-weight: 600;
                font-size: 26px;
            }

            .sec-services .service-box .text-box .read-btn {
                background-color: #40A2D8;
                border: 2px solid lightblue;
                padding: 8px 18px;
                font-size: 14px;
                font-weight: 500;
                color: #000000 !important;
                transition: 0.5s;
                border-radius: 5px;
                margin-top: 10px;
            }
/************************** Services css end **************************/