/************************** Member css start **************************/

.member-section {
    padding: 50px 0;   
}

.member-section .member-title {
    margin-bottom: 30px;
}

.member-section .member-title h2 {
    font-size: 36px;
    font-weight: 600;
    color: #000;
    padding: 10px 0 5px;
    margin-bottom: 20px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.member-section .member-card {
    width: 100%; /* Adjusted to take full width initially */
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.5);
    overflow: hidden;
    border-radius: 20px;
}

.member-section .member-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.member-section .member-details {
    padding: 20px;
    text-align: center;
}

.member-section .member-details h2 {
    margin: 0;
    color: #333;
    font-size: 1.5em;
}

.member-section .member-details h3 {
    margin: 10px 0 0 5px;
    color: #666;
    font-size: 10px;
}

.member-section .member-details p {
    margin: 10px 0 0 5px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 5px;
}

.member-section .member-details p strong {
    font-weight: bold;
    color: #333;
}

.member-section .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.member-section .social-icons a {
    margin: 0 10px;
    color: #555;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.member-section .social-icons a:hover {
    color: #3498db;
}

/* Media Queries for Responsive Design */

@media (min-width: 768px) {
    .member-section .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }

    .member-section .member-card {
        width: calc(25% - 20px); 
        margin-right: 20px; 
        margin-bottom: 20px;
    }

    .member-section .member-card:nth-child(4n) {
        margin-right: 0;
    }
}


/* Horizontal Grid */
.member-section .top-text-container {
    text-align: center;
    padding: 20px 10px; /* Adjust padding for smaller screens */
    background-color: #333;
    color: #fff;
}

.member-section .top-text-container h2 {
    margin: 0;
    font-size: 1.5em; /* Adjust font size for smaller screens */
}

.member-section .horizontal-grid {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px; /* Adjust padding for smaller screens */
    color: #fff;
}

.member-section .horizontal-grid::before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #fff;
    transform: translateX(-50%);
}

.member-section .grid-item {
    text-align: center;
    flex-basis: 22%;
}

.member-section .grid-item span {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .member-section .horizontal-grid {
        flex-direction: column;
        align-items: stretch; 
    }

    .member-section .grid-item {
        flex-basis: 100%; 
        margin-bottom: 10px; 
    }
}


/************************** Member css end **************************/
